/* hmtl elements */
a{
    font-size: 24px
}
body{
    background-color: darkblue;
}
h1{
    color: black;
    text-align: center;
}
h2{
    color: black
}
h3{
    color: black;
}
h4{
    text-align: center;
}

/* classes */
.description{
    width: 90%;
    margin-left: 5%;
}
.profilepic{
    margin-left: 10px;
    margin-top: 10px;
}
.kojopic{
    margin-top: 10px;
}

/* divs */

.kojoFrame{
    margin-left: calc(50% - 330.5px);
    background-color: black;
    width: 661px;
    height: 388px;
}
.covidFrame{
    width: 661px;
    height: 381px;
    background-color: black;
    margin-left: calc(50% - 330.5px);
}
.covidpic{
    margin-top: 10px;
}
.picture{
    margin-left: calc(50% - 91px);
    background-color: black;
    width: 182px;
    height: 243px;
}

/* Grey Divs */
.header{
    margin-left: calc(50% - 420.5px);
    background-color: grey;
    width: 841px;
}
.resume{
    text-align: center;
    margin-left: calc(50% - 420.5px);
    background-color: grey;
    width: 841px;
}
.vr{
    text-align: center;
    margin-left: calc(50% - 420.5px);
    background-color: grey;
    width: 841px;
}
.covid{
    text-align: center;
    margin-left: calc(50% - 420.5px);
    background-color: grey;
    width: 841px;
}
