body{
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
  margin: 0%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.name{
    font-size: 7vw;
    color: darkred;
}

.info{
    font-size: 2.5vw;
    text-align: center;
    color: lightgrey;
}

.info p{
    font-size: 36px
}

.profile-picture{
  margin-top: 250px;
  margin-left: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  opacity: 25%;
  z-index: -1;
}

a {
    color: white;
}

.header {
  margin-top: 2%;
  text-align: right;
}

.header a{
    background-color: black;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
}