/* HTML Elements */
body{
    background-color: silver;
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    overflow: hidden;
}

.centeredMenu{
    width: 100%;
    margin: 0%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.frame {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    width: 80%;
}

.github{
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
    margin: 0%;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
}
.github a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.github:hover{
    background-color: grey;  
}

.home{
    padding-bottom: 5%;
    padding-top: 5%;
}
.home a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.home:hover{
    background-color: grey;  
}

.html{
    height: 100%;
    width: 100%;
}

.menu{
    width: 225px;
    height: 100%;
    margin: 0%;
    position: fixed;
    background-color: black;
    text-align: center;
    cursor: pointer;
}
.menu div div{
    color: white;
    font-size: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
}
.menu div div:hover {
    background-color: grey;
}

.projectTemplate {
    height: 100vh;
    margin-left: 225px;
    width: calc(100% - 225px);
}
.projectTemplate:nth-of-type(odd){
    background-color: aqua;
}
.projectTemplate:nth-of-type(even){
    background-color: lime;
}

.title{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 0%;
}

